[site]
%{~for node in bastion_nodes}
${node.name} ansible_host=${node.ansible_host}
%{~endfor}
%{~for node in metrics_nodes}
${node.name} ansible_host=${node.ansible_host}
%{~endfor}
%{~for node in master_nodes}
${node.name} ansible_host=${node.ansible_host}
%{~endfor}
%{~for node in worker_nodes}
${node.name} ansible_host=${node.ansible_host}
%{~endfor}